{% extends 'navbar.html' %}
{% block nvbr %}

<!DOCTYPE html>
<html>
    <head>
        <title>PSD Calculator</title>
    </head>

<br>





    <body>

      <form name="form" method="post" action="{% url 'runModel' %}">

        {% csrf_token %}



            <h5>
                Deliverable Type:
            </h5>

            <select name="delivType">
                {% for delivType in delivTypes %}
                    <option value="{{ delivType.delivtype }}">{{ delivType.delivtype }}</option>
                {% endfor %} 
            </select> 


            <br>
            <br>


            <h5>
                Priority:
            </h5>

            <select name="priority">
                {% for priority in priorities %}
                    <option value="{{ priority.priority }}">{{ priority.priority }}</option>
                {% endfor %} 
            </select> 


            <br>
            <br>

            <h5>
                Production Pipeline:
            </h5>

            <select name="pipeline">
                {% for pipeline in prodPipelines %}
                    <option value="{{ pipeline.pipeline }}">{{ pipeline.pipeline }}</option>
                {% endfor %} 
            </select> 


            <br>
            <br>


            <h5>
                Project Type:
            </h5>

            <select name="projType">
                {% for projType in projTypes %}
                    <option value="{{ projType.projtype }}">{{ projType.projtype }}</option>
                {% endfor %} 
            </select> 


            <br>
            <br>

            <p>
                <button type="submit" class="btn btn-primary">Calculate Project Duration</button>
            </p>
        </form>
        
    </body>


    {% block content %}
    {% endblock %}


</html>  




{% endblock %}
